<!DOCTYPE html>
<html>
  <head>
    <title>Image Gallery</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.2/underscore-umd-min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <div>    
        <h2>Jquery Image Gallery</h2>
         <div id="gallery">

         </div> 
        </div>
    </div>
    
    <script>
        (function() {
            $.ajax({
                type: 'GET',
                url: '/api/v1/image-list',
                success: function(result) {
                  $('#gallery').append(result)
                   
                }
            });
        })()
    </script>
  </body>
</html>