<!DOCTYPE html>
<html>
  <head>
    <title>Express Project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 
    <div>    
        <% imageArray.map(function(image){ %>
        <img src="<%= image.url %>"></img>
        <%  }); %>    
    </div>

       

  </body>
</html>