<!DOCTYPE html>
<html>
  <head>
    <title>Express Project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h3>Page: <%= pageNumber %></h3>
      <h3>Size: <%= sizeLimit %></h3>
    </div>
    
    <div>    
        <% imageArray.map(function(image){ %>
        <img src="<%= image.url %>"></img>
        <%  }); %>    
    </div>

       

  </body>
</html>